Dictionary

Parameter            Details
key                The desired key to Dictionary
value              The value to set or return

In [1]:
d = {} #empty dict
d = {'key': 'value'} # dict with initial values

In [2]:
# Unpacking
c = {**d} # makes a shallow copy of otherdict
print(c)

{'key': 'value'}

In [4]:
j = {'jay': 'first'}
v = { **d, **j} # also updates the shallow copy with the contents of another dict
print(v)

{'key': 'value', 'jay': 'first'}

In [6]:
# Built-in class: dict()
d = dict()     # empty dict
d = dict(key='value')  # explicit keyword arguments
d = dict([('key', 'value')]) # passing in a list of key/value pairs
# make a shallow  copy of another dict (only possible if keys are only strings!)
d = dict(**j)

In [9]:
# modifying a dict: To add items to a dict
d['key'] = 42
print(d)

{'jay': 'first', 'key': 42}

In [10]:
# It is also possible to add list and dictionary as value:
d['new_list'] = [1, 2, 3]
d['new_dict'] = {'nested_dict': 1}
print(d)

{'jay': 'first', 'key': 42, 'new_list': [1, 2, 3], 'new_dict': {'nested_dict': 1}}

In [12]:
# To delete an item, delete the key from the dictionary
del d['key']
print(d)

{'jay': 'first', 'new_list': [1, 2, 3], 'new_dict': {'nested_dict': 1}}

Avoiding KeyError Exceptions

In [13]:
mydict = {}
mydict['not there']

KeyError: 'not there'

In [16]:
mydict = {}
print(mydict)

{}

In [17]:
print(mydict.get("foo", "bar"))

bar

In [18]:
print(mydict)

{}

In [19]:
print(mydict.setdefault("foo", "bar"))

bar

In [20]:
print(mydict)

{'foo': 'bar'}

In [24]:
# An alternative way to deal with the problem is catching the exception
try:
    value = mydict['foo']
except KeyError:
    value = default_value

Iterating over a Dictionary

In [25]:
d = {'a': 1, 'b':2, 'c':3}
for key in d:
    print(key, d[key])

a 1
b 2
c 3

In [26]:
# In a comprehension
print([key for key in d])

['a', 'b', 'c']

In [27]:
# items() method can be used to loop over both the key and value simultaneously:
for key, value in d.items():
    print(key, value)

a 1
b 2
c 3

Dictionary with default values

In [30]:
from collections import defaultdict
d = defaultdict(int)
d['key']

0

In [32]:
d['key'] = 5
d['key']

5

In [33]:
d = defaultdict(lambda:'empty')
d['key']

'empty'

In [34]:
d['key'] = 'full'
d['key']

'full'

In [35]:
d = {}
d.setdefault('Another_key', []).append("This worked!")
d

{'Another_key': ['This worked!']}

Merging dictionaries

In [36]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}

In [37]:
fishdog = {**fish, **dog}
fishdog

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

In [38]:
from collections import ChainMap
dict(ChainMap(fish, dog))

{'name': 'Nemo', 'hands': 'fins', 'color': 'red', 'special': 'gills'}

In [39]:
from collections import ChainMap
dict(ChainMap(fish, dog))

{'name': 'Nemo', 'hands': 'fins', 'color': 'red', 'special': 'gills'}

In [40]:
from itertools import chain
dict(chain(fish.items(), dog.items()))

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

In [41]:
fish.update(dog)
fish

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

Accessing keys and values

In [43]:
# to get keys
mydict = {
    'a': '1',
    'b': '2'
}
print(mydict.keys())

dict_keys(['a', 'b'])

In [44]:
#To get values
print(mydict.values())

dict_values(['1', '2'])

In [45]:
# To get both
print(mydict.items())

dict_items([('a', '1'), ('b', '2')])

Accessing values of a dictionary

In [46]:
dictionary = {"hello": 1234, "World": 5678}
print(dictionary["hello"])

1234

Creating a dictionary

In [47]:
# Creating and populating it with values
stock = {'eggs':5, 'milk':2}
# Or creating an empty dictionary
dictionary = {}
# And populating it after
dictionary['eggs'] = 5
dictionary['milk'] = 2
# Values can also be lists
mydict = {'a': [1, 2, 3], 'b': ['one', 'two', 'three']}
print(mydict)

{'a': [1, 2, 3], 'b': ['one', 'two', 'three']}

In [49]:
# Use list.append() method to add new elements to the values list
mydict['a'].append(4)
mydict['b'].append('four')
print(mydict)

{'a': [1, 2, 3, 4, 4], 'b': ['one', 'two', 'three', 'four']}

In [51]:
# we can also create a dictionary using a list of two-items tuples
iterable = [('eggs', 5), ('milk', 2)]
dictionary = dict(iterable)
print(dictionary)

{'eggs': 5, 'milk': 2}

In [52]:
# or using keyword argument:
dictionary = dict(eggs=5, milk=2)

Creating an ordered dictionary

In [55]:
from collections import OrderedDict
d = OrderedDict()
d['first'] = 1
d['second'] = 2
d['third'] = 3
d['last'] = 4
print(d)

OrderedDict([('first', 1), ('second', 2), ('third', 3), ('last', 4)])

In [56]:
for key in d:
    print(key, d[key])

first 1
second 2
third 3
last 4

Unpacking dictionaries using the **operator

In [58]:
def parrot(voltage, state, action):
    print("This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [59]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}
fishdog = {**fish, **dog}
fishdog

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

The trailing comma

Like lists and tuples, you can include a trailing comma in your dictionary.

In [60]:
role = {"By day": "A typical programmer",
        "By night": "Still a typical programmer", }

In [61]:
print(role)

{'By day': 'A typical programmer', 'By night': 'Still a typical programmer'}

The dict() constructor

In [62]:
dict(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [63]:
dict([('d', 4), ('e', 5), ('f', 6)])

{'d': 4, 'e': 5, 'f': 6}

In [64]:
dict([('a', 1)], b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [65]:
dict({'a': 1, 'b': 2}, c=3)

{'a': 1, 'b': 2, 'c': 3}

Dictionaries Example

In [67]:
car = {}
car["wheels"] = 4
car["color"] = "Red"
car["model"] = "Corvette"
print("Little "+car["color"] + " " + car["model"] + "!")

Little Red Corvette!

In [68]:
# Dictionaries in JSON style
car = {"wheels": 4, "color": "Red", "model": "Corvette"}

All combinations of dictionary values

In [71]:
import itertools
options = {
    "x": ["a", "b"],
    "y": [10, 20, 30]
}
keys = options.keys()
values = (options[key] for key in keys)
combinations = [dict(zip(keys, combination)) for combination in itertools.product(*values)]
print(combinations)

[{'x': 'a', 'y': 10}, {'x': 'a', 'y': 20}, {'x': 'a', 'y': 30}, {'x': 'b', 'y': 10}, {'x': 'b', 'y': 20}, {'x': 'b', 'y': 30}]

List

List methods and supported operators

In [72]:
a = [1, 2, 3, 4, 5]

In [74]:
# Append values 6, 7 and 7 to the list
a.append(6)
a.append(7)
a.append(7)
a

[1, 2, 3, 4, 5, 6, 6, 7, 7]

In [77]:
# Append another list
b = [8, 9]
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6, 6, 7, 7, [8, 9], [8, 9], [8, 9]]

In [78]:
my_string = "hello world"
a.append(my_string)
print(a)

[1, 2, 3, 4, 5, 6, 6, 7, 7, [8, 9], [8, 9], [8, 9], 'hello world']

In [79]:
# Appending a list to another list
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9]
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [80]:
a[8]

[8, 9]

In [82]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]
# Extend list by appending all elements from b
a.extend(b)
print(a)
a.extend(range(3))
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [83]:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b
print(a)

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [85]:
# index(value, [startIndex]) - gets the index of the first occurrence of the input value.
print(a.index(7))

6

In [86]:
a.index(49)

ValueError: 49 is not in list

In [87]:
a.index(7, 7)

7

In [88]:
a.index(7, 8)

ValueError: 7 is not in list

# insert(index, value) - inserts value just before the specified index. Thus after the insertion the new element occupies position index.

In [91]:
a.insert(0, 0) # insert 0 at position 0
print(a)

[0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [92]:
a.insert(2, 5) # insert 5 at position 2
print(a)

[0, 0, 5, 0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

pop([index]) - removes and returns the item at index. with no argument it removes and returns the last element of the list.

In [93]:
a.pop(2)

5

In [95]:
print(a)

[0, 0, 0, 1, 2, 3, 4, 5, 7, 7, 8, 9, 10]

In [94]:
a.pop(8)

6

In [96]:
# with no argument
a.pop()

10

In [97]:
print(a)

[0, 0, 0, 1, 2, 3, 4, 5, 7, 7, 8, 9]

remove(value) - removes the first occurrence of the specified value. If the provided value cannot be found, a ValueError is raised.

In [98]:
a.remove(0)
a.remove(9)

In [99]:
print(a)

[0, 0, 1, 2, 3, 4, 5, 7, 7, 8]

In [100]:
a.remove(10)

ValueError: list.remove(x): x not in list

In [109]:
# reverse(value) - reverses the list in-place and returns None.
print(a.reverse())
a

None

[8, 7, 7, 5, 4, 3, 2, 1, 0, 0]

In [106]:
# count(value) - counts the number of occurrences of some value in the list.
a.count(7)

2

In [108]:
#sort() - sorts the list in numerical and lexicographical order and returns None.
a.sort()
a

[0, 0, 1, 2, 3, 4, 5, 7, 7, 8]

In [111]:
a.sort(reverse=True) # sorted in reverse order
a

[8, 7, 7, 5, 4, 3, 2, 1, 0, 0]

In [114]:
# Example
import datetime
class Person(object):
    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height
    def __repr__(self):
        return self.name
l = [Person("John Cena", datetime.date(1992, 9, 12), 175),
     Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
     Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]
l.sort(key=lambda item: item.name)
l

[Chuck Norris, John Cena, Jon Skeet]

In [115]:
l.sort(key=lambda item: item.birthday)
l

[Chuck Norris, Jon Skeet, John Cena]

In [116]:
l.sort(key=lambda item: item.height)
l

[John Cena, Chuck Norris, Jon Skeet]

In [122]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175, 'weight': 100},
     {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'height':180, 'weight': 90},
     {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height':185, 'weight':110}]
l.sort(key=lambda item: item['name'])
l

[{'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'height': 180,
  'weight': 90},
 {'name': 'John Cena',
  'birthday': datetime.date(1992, 9, 12),
  'height': 175,
  'weight': 100},
 {'name': 'Jon Skeet',
  'birthday': datetime.date(1991, 7, 6),
  'height': 185,
  'weight': 110}]

In [118]:
l.sort(key=lambda item:item['birthday'])
l

[{'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'height': 180},
 {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185},
 {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175}]

In [121]:
l.sort(key=lambda item: item['height'])
l

[{'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175},
 {'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'height': 180},
 {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [124]:
# sort by subdict
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12), 'size':{'height': 175, 'weight': 100}},
     {'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28), 'size':{'height':180, 'weight': 90}},
     {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size':{'height':185, 'weight':110}}]
l.sort(key=lambda item: item['size']['height'])
l

[{'name': 'John Cena',
  'birthday': datetime.date(1992, 9, 12),
  'size': {'height': 175, 'weight': 100}},
 {'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'size': {'height': 180, 'weight': 90}},
 {'name': 'Jon Skeet',
  'birthday': datetime.date(1991, 7, 6),
  'size': {'height': 185, 'weight': 110}}]

In [126]:
# Better way to sort attrgetter and itemgetter
from operator import itemgetter, attrgetter
people = [{'name':'chandan', 'age':20, 'salary':2000},
          {'name': 'chetan', 'age':18, 'salary':5000},
          {'name': 'guru', 'age':30, 'salary':3000}]
by_age = itemgetter('age')
by_salary = itemgetter('salary')
people.sort(key=by_age) # in-place sorting by age
people

[{'name': 'chetan', 'age': 18, 'salary': 5000},
 {'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000}]

In [127]:
people.sort(key=by_salary) # in-place sorting by salary
people

[{'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000},
 {'name': 'chetan', 'age': 18, 'salary': 5000}]

In [128]:
# itemgetter can also be given an index
list_of_tuples = [(1, 2), (3, 4), (5, 0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples)

[(5, 0), (1, 2), (3, 4)]

In [134]:
# attrgetter if you want to sort by attributes of an object,
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
           Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
           Person("Jon Skeet", datetime.date(1991, 7, 6), 185)] # reusing Person class from above example
persons.sort(key=attrgetter('name')) # sort by name
persons

[Chuck Norris, John Cena, Jon Skeet]

In [135]:
by_birthday = attrgetter('birthday')
persons.sort(key=by_birthday)
persons

[Chuck Norris, Jon Skeet, John Cena]

In [137]:
# clear() - removes all items from the list
a.clear()
a

[]

In [138]:
# Replication - multiplying an existing list by an integer will produce a larger list consisting of that many copies of the original.
b = ["blah"] * 3
b

['blah', 'blah', 'blah']

In [140]:
b = [1, 3, 5] * 5
b

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [142]:
# Element deletion - it is possible to delete multiple elements in the list using the del keyword and slice notation.
a = list(range(10))
del a[::2]
a

[1, 3, 5, 7, 9]

In [143]:
del a[-1]
a

[1, 3, 5, 7]

In [145]:
del a[:]
a

[]

In [147]:
# Copying 
b = a
a.append(6)
b

[6, 6]

import copy
new_list = copy.copy(old_list) # inserts references to the objects found in the original.

In [148]:
aa = a.copy()
aa

[6, 6]

Accessing list values

In [149]:
lst = [1, 2, 3, 4]
lst[0] # 1

1

In [150]:
lst[1]

2

In [151]:
lst[4]

IndexError: list index out of range

In [152]:
lst[-1]

4

In [153]:
lst[-2]

3

In [154]:
lst[-5]

IndexError: list index out of range

In [155]:
lst[len(lst)-1]

4

In [156]:
lst[1:]

[2, 3, 4]

In [157]:
lst[:3]

[1, 2, 3]

In [158]:
lst[::2]

[1, 3]

In [159]:
lst[::-1]

[4, 3, 2, 1]

In [160]:
lst[-1:0:-1]

[4, 3, 2]

In [163]:
lst[5:8] # since starting index is greater than length of 1st, returns empty list

[]

In [164]:
lst[1:10]

[2, 3, 4]

In [165]:
lst[::-1]

[4, 3, 2, 1]

In [166]:
lst[3:1:-1]

[4, 3]

In [169]:
reversed(lst)
lst

[1, 2, 3, 4]

Checking if list is empty

In [170]:
lst = []
if not lst:
    print("list is empty")

list is empty

Iterating over a list

In [171]:
my_list = ['foo', 'bar', 'baz']
for item in  my_list:
    print(item)

foo
bar
baz

In [172]:
for (index, item) in enumerate(my_list):
    print('The item in position {} is: {}'.format(index, item))

The item in position 0 is: foo
The item in position 1 is: bar
The item in position 2 is: baz

In [173]:
for i in range(0, len(my_list)):
    print(my_list[i])

foo
bar
baz

In [174]:
for item in my_list:
    if item == 'foo':
        del my_list[0]
    print(item)

foo
baz

Checking whether an item is in a list

In [175]:
lst =  ['test', 'twest', 'tweast', 'treast']
'test' in lst

True

In [176]:
'toast' in lst

False

In [177]:
slst = set(lst)
'test' in slst

True

Any and All

In [178]:
nums = [1, 1, 0, 1]
all(nums)

False

In [179]:
chars = ['a', 'b', 'c', 'd']
all(chars)

True

In [180]:
nums = [1, 1, 0, 1]
any(nums)

True

In [181]:
vals = [None, None, None, False]
any(vals)

False

In [182]:
vals = [1, 2, 3, 4]
any(val>12 for val in vals)

False

In [183]:
any((val*2)>6 for val in vals)

True

Reversing list elements

In [190]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
rev = reversed(numbers)
rev

In [191]:
numbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Concatenate and Merge lists

In [194]:
# The simplest way to concatenate
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
merged = list1 + list2
merged

[1, 2, 3, 4, 5, 6, 7, 8]

In [195]:
# Zip returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [196]:
# Insert to a specific index values
alist = [123, 'xyz', 'zara', 'abc']
alist.insert(3, [2009])
print("Final List :", alist)

Final List : [123, 'xyz', 'zara', [2009], 'abc']

Length of a list

In [197]:
len(['one', 'two'])

2

In [198]:
len(['one', [2, 3], 'four'])

3

Remove duplicate values in list

In [199]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))

['duke', 'tofp', 'edik', 'aixk']

In [200]:
import collections
collections.OrderedDict.fromkeys(names).keys()

odict_keys(['aixk', 'duke', 'edik', 'tofp'])

Comparison of lists

In [201]:
[1, 10, 100] < [2, 10, 100]

True

In [202]:
[1, 10, 100] < [1, 10, 100]

False

In [203]:
# If one of the lists is contained at the start of the other, the shorter list wins.
[1, 10] < [1, 10, 100]

True

Accessing values in nested list

In [204]:
alist = [[[1, 2], [3, 4]], [[5, 6, 7], [8, 9, 10], [12, 13, 14]]]
print(alist[0][0][1])

2

In [205]:
alist[0][0].append(11)
print(alist[0][0][2])

11

In [206]:
for row in alist:
    for col in row:
        print(col)

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
[12, 13, 14]

In [207]:
[col for row in alist for col in row]

[[1, 2, 11], [3, 4], [5, 6, 7], [8, 9, 10], [12, 13, 14]]

In [208]:
for row in range(len(alist)):
    for col in range(len(alist[row])):
        print(alist[row][col])

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
[12, 13, 14]

In [209]:
# Using slices in nested list:
print(alist[1][1:])

[[8, 9, 10], [12, 13, 14]]

In [210]:
print(alist)

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], [12, 13, 14]]]

Initializing a List to a Fixed Number of Elements

In [212]:
my_list = [None] * 10
my_list

[None, None, None, None, None, None, None, None, None, None]

In [213]:
my_list = ['test'] * 10
my_list

['test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test']

In [214]:
my_list=[{1}] * 10
my_list

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]

In [215]:
my_list[0].add(2)
print(my_list)

[{1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}, {1, 2}]

In [217]:
# to initialize the list with a fixed number of different mutable object,
my_list = [{1} for _ in range(10)]
my_list

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]

List comprehensions

In [219]:
# Example: To create a list of squared integers:
squares = [x * x for x in (1, 2, 3, 4)]
squares

[1, 4, 9, 16]

In [221]:
squares = []
for x in (1, 2, 3, 4):
    squares.append(x*x)
print(squares)

[1, 4, 9, 16]

The expression applied to each element can be as complex as needed:

In [222]:

[s.upper() for s in "Hello World"]

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [223]:
[w.strip(',') for w in ['these', 'words,,', 'mostly', 'have,commas,']]

['these', 'words', 'mostly', 'have,commas']

In [1]:
# Organize letters in words more reasonably - in an alphabetical order
sentence = 'Beautiful is better than ugly'
["".join(sorted(word, key = lambda x: x.lower())) for word in sentence.split()]

['aBefiltuu', 'is', 'beertt', 'ahnt', 'gluy']

In [2]:
# else: it is used in list comprehension constructs, but be careful regarding the syntax. the if/else clauses should be used before for loop, not after:
# create a list of characters in apple, replacing non vowels with '*'
# Ex - 'apple' --> ['a', '*', '*', '*', 'e']
[x for x in 'apple' if x in 'aeiou' else '*']

SyntaxError: invalid syntax (2552504783.py, line 4)

In [3]:
# When using if/else together use them before the loop
[x if x in 'aeiou' else '*' for x in 'apple']

['a', '*', '*', '*', 'e']

 Double Iteration:

In [4]:
def foo(i):
    return i, i + 0.5
for i in range(3):
    for x in foo(i):
        yield str(x)

SyntaxError: 'yield' outside function (331417688.py, line 5)

In [5]:
[str(x) 
 for i in range(3)
     for x in foo(i)
]

['0', '0.5', '1', '1.5', '2', '2.5']

In-place Mutation and Other side effects: Before using list comprehension, understand the difference between functions called for their side effects
(mutating, or in-place functions) which usually return None, and functions that return an interesting value.

In [6]:
#list.sort()
[x.sort() for x in [[2, 1], [4, 3], [0, 1]]]

[None, None, None]

In [7]:
#sorted()
[sorted(x) for x in [[2, 1], [4, 3], [0, 1]]]

[[1, 2], [3, 4], [0, 1]]

In [8]:
[print(x) for x in (1, 2, 3)]

1
2
3

[None, None, None]

In [9]:
for x in (1, 2, 3):
    print(x)

1
2
3

In [10]:
# Example for random value generator which is not pure, yet makes sense as the random generator is reset every time the expression is evaluted.
from random import randrange
[randrange(1, 7) for _ in range(10)]

[3, 2, 1, 5, 5, 4, 3, 3, 3, 1]

Conditional List Comprehensions

Syntax: [<expression> for <element> in <iterable> if <condition>]

In [11]:
# Example
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [12]:
even_numbers = []
for x in range(10):
    if x % 2 == 0:
        even_numbers.append(x)
print(even_numbers)

[0, 2, 4, 6, 8]

In [13]:
# Another example
[x if x % 2 == 0 else None for x in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [14]:
# on combining it with other operators
[2 *(x if x % 2 == 0 else -1) + 1 for x in range(10)]

[1, -1, 5, -1, 9, -1, 13, -1, 17, -1]

In [15]:
numbers = []
for x in range(10):
    if x % 2 == 0:
        temp = x
    else:
        temp = -1
    numbers.append(2 * temp + 1)
print(numbers)

[1, -1, 5, -1, 9, -1, 13, -1, 17, -1]

One can combine ternary expressions and if conditions. The ternary operator works on the filtered result

In [16]:
[x if x > 2 else '*' for x in range(10) if x % 2 == 0]

['*', '*', 4, 6, 8]

In [17]:
# same couldn't have been achieved just by ternary operator only:
[x if (x>2 and x%2==0) else '*' for x in range(10)]

['*', '*', '*', '*', 4, '*', 6, '*', 8, '*']

Dictionary Comprehensions

In [22]:
dict((x, x * x) for x in (1, 2, 3, 4))

{1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
dict((name, len(name)) for name in ('Stack', 'Overflow', 'Exchange') if len(name) > 6)

{'Overflow': 8, 'Exchange': 8}

In [24]:
# Switching key and value of dictionary (invert dictionary)
my_dict = {1: 'a', 2: 'b', 3: 'c'}
swapped = {v: k for k, v in my_dict.items()}
print(swapped)

{'a': 1, 'b': 2, 'c': 3}

In [26]:
# or
swapped = dict(map(reversed, my_dict.items()))
print(swapped)

{'a': 1, 'b': 2, 'c': 3}

In [27]:
# Merging Dictionaries
dict1 = {'w': 1, 'x': 1}
dict2 = {'x': 2, 'y': 2, 'z': 2}
{k: v for d in [dict1, dict2] for k, v in d.items()}

{'w': 1, 'x': 2, 'y': 2, 'z': 2}

In [28]:
{**dict1, **dict2}

{'w': 1, 'x': 2, 'y': 2, 'z': 2}

List Comprehensions with Nested Loops

In [29]:
# Example
data = [[1, 2], [3, 4], [5, 6]]
output = []
for each_list in data:
    for element in each_list:
        output.append(element)
print(output)

[1, 2, 3, 4, 5, 6]

In [30]:
data = [[1, 2], [3, 4], [5, 6]]
output = [element for each_list in data for element in each_list]
print(output)

[1, 2, 3, 4, 5, 6]

Generator Expressions

In [31]:
# list comprehension
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Refactoring filter and map to list comprehensions

filter(P, S) is almost always written clearer as [x for x in S if P(x)], and this has the huge
advantage that the most common usages involve predicates that are comparisons,

In [35]:
filter(lambda x: x % 2 == 0, range(10))  # even numbers < 10
map(lambda x: 2*x, range(10)) # multiply each number by two
# sum of all elements in list
# Filter:
# P(x) = x % 2 == 0
# S = range(10)
[x for x in range(10) if x % 2 == 0]
# Map
# F(x) = 2*x
# S = range(10)
[2*x for x in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Comprehensions involving tuples

In [37]:
[x + y for x, y in [(1, 2), (3, 4), (5, 6)]]

[3, 7, 11]

In [38]:
[x + y for x, y in zip([1, 3, 5], [2, 4, 6])]

[3, 7, 11]

In [39]:
for x, y in [(1, 2), (3, 4), (5, 6)]:
    print(x + y)

3
7
11

In [40]:
[x, y for x, y in [(1, 2), (3, 4), (5, 6)]]

SyntaxError: did you forget parentheses around the comprehension target? (571775100.py, line 1)

In [41]:
[(x, y) for x, y in [(1, 2), (3, 4), (5, 6)]]

[(1, 2), (3, 4), (5, 6)]

Counting Occurrences using Comprehension

In [42]:
# Count the numbers in 'range(1000)' that are even and contain the digit '9':
print(sum(
    1 for x in range(1000)
    if x % 2 == 0 and
    '9' in str(x)
))

95

Changing Types in a List:

In [43]:
# Convert a list of strings to integers.
items = ["1", "2", "3", "4"]
[int(item) for item in items]

[1, 2, 3, 4]

In [44]:
# Convert a list of strings to float
items = ["1", "2", "3", "4"]
map(float, items)

Nested List Comprehensions

In [46]:
# List Comprehension with nested loop
[x + y for x in [1, 2, 3] for y in [3, 4, 5]]

[4, 5, 6, 5, 6, 7, 6, 7, 8]

In [47]:
# Nested List Comprehension
[[x + y for x in [1, 2, 3]] for y in [3, 4, 5]]

[[4, 5, 6], [5, 6, 7], [6, 7, 8]]

In [48]:
l = []
for y in [3, 4, 5]:
    temp = []
    for x in [1, 2, 3]:
        temp.append(x + y)
    l.append(temp)

In [49]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
[[row[i] for row in matrix] for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [50]:
[[[i + j + k for k in 'cd'] for j in 'ab'] for i in '12']

[[['1ac', '1ad'], ['1bc', '1bd']], [['2ac', '2ad'], ['2bc', '2bd']]]

Iterate two or more list simultaneously within list comprehension

In [51]:
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c', 'd']
list_3 = ['6', '7', '8', '9']

In [52]:
# Two lists
[(i, j) for i, j in zip(list_1, list_2)]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [53]:
[(i, j, k) for i, j, k in zip(list_1, list_2, list_3)]

[(1, 'a', '6'), (2, 'b', '7'), (3, 'c', '8'), (4, 'd', '9')]

List slicing (selecting parts of lists)

Using the third "step" argument

In [54]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
lst[::2]

['a', 'c', 'e', 'g']

In [55]:
lst[::3]

['a', 'd', 'g']

Selecting a sublist from a list

In [56]:
lst = ['a', 'b', 'c', 'd', 'e']
lst[2:4]

['c', 'd']

In [57]:
lst[2:]

['c', 'd', 'e']

In [58]:
lst[:4]

['a', 'b', 'c', 'd']

Reversing a list with slicing

In [60]:
a = [1, 2, 3, 4, 5]
# steps through the list backwards (step=-1)
b = a[::-1]
# built-in list method to reverse 'a'
a.reverse()
if a == b:
    print(True)
print(b)

True
[5, 4, 3, 2, 1]

Shifting a list using slicing

In [61]:
def shift_list(array, s):
    """Shifts the elements of a list to the left or right.
    Args:
    array - the list to shift
    s - the amount to shift the list ('+': right-shift, '-': left-shift)
    Returns:
    shifted_array - the shifted list
    """
    # calculate actual shift amount 
    s %= len(array)
    # reverse the shift direction to be more intuitive
    s *= -1
    # shift array with list slicing 
    shifted_array = array[s:] + array[:s]
    return shifted_array
my_array = [1, 2, 3, 4, 5]
# negative numbers
shift_list(my_array, -7)

[3, 4, 5, 1, 2]

In [62]:
# no shift on numbers equal to the size of the array
shift_list(my_array, 5)

[1, 2, 3, 4, 5]

In [63]:
shift_list(my_array, 3)

[3, 4, 5, 1, 2]