Filter

Parameter                        Details
function       callable that determines the condition or None then use the identity function for filtering (positional-only)
iterable       iterable that will be filtered (positional-only)

In [2]:
# Basic use of filter
names = ['Fred', 'Wilma', 'Barney']
def long_name(name):
    return len(name) > 5
filter(long_name, names) # returns a generator in Python 3.x

In [4]:
list(filter(long_name, names))  # cast to list

['Barney']

In [5]:
# Filter without function
list(filter(None, [1, 0, 2, [], '', 'a'])) # discards 0, [] and ''

[1, 2, 'a']

In [7]:
# Filter as short-circuit check
# To find the first element that is smaller than 100:
car_shop = [('Toyota', 1000), ('rectangle tire', 80), ('Porsche', 5000)]
def find_some(name_value):
    print('Check {0}, {1}$'.format(*name_value))
    return name_value[1] < 100
next(filter(find_some, car_shop))

Check Toyota, 1000$
Check rectangle tire, 80$

('rectangle tire', 80)

In [8]:
# Complementary function: filterfalse
from itertools import filterfalse
list(filterfalse(None, [1, 0, 2, [], '', 'a'])) # discards 1, 2, 'a'

[0, [], '']

In [9]:
# Example usage with function
names = ['Fred', 'Wilma', 'Barney']
def long_name(name):
    return len(name) > 5
list(filterfalse(long_name, names))

['Fred', 'Wilma']

Heapq

Largest and smallest items in a collection

In [12]:
# Example
import heapq
numbers = [1, 4, 2, 100, 20, 50, 32, 200, 150, 8]
print(heapq.nlargest(4, numbers)) # To find largest items in collection

[200, 150, 100, 50]

In [13]:
# To find the smallest items in a collection
print(heapq.nsmallest(4, numbers))

[1, 2, 4, 8]

In [15]:
# Both nlargest and nsmallest functions take an optional argument (key parameter).
people = [
    {'firstname': 'John', 'lastname': 'Doe', 'age': 30},
    {'firstname': 'Jane', 'lastname': 'Doe', 'age': 25},
    {'firstname': 'Janie', 'lastname': 'Doe', 'age': 10},
    {'firstname': 'Jane', 'lastname': 'Roe', 'age': 22},
    {'firstname': 'Johnny', 'lastname': 'Doe', 'age': 12},
    {'firstname': 'John', 'lastname': 'Roe', 'age': 45}
]
oldest = heapq.nlargest(2, people, key=lambda s: s['age'])
print(oldest)

[{'firstname': 'John', 'lastname': 'Roe', 'age': 45}, {'firstname': 'John', 'lastname': 'Doe', 'age': 30}]

In [17]:
youngest = heapq.nsmallest(2, people, key=lambda s: s['age'])
print(youngest)

[{'firstname': 'Janie', 'lastname': 'Doe', 'age': 10}, {'firstname': 'Johnny', 'lastname': 'Doe', 'age': 12}]

Smallest item in a collection

The interesting property of a heap is that its smallest element is always the first element: heap[0]

In [18]:
import heapq
numbers = [10, 4, 2, 100, 20, 50, 32, 200, 150, 8]
heapq.heapify(numbers)
print(numbers)

[2, 4, 10, 100, 8, 50, 32, 200, 150, 20]

In [19]:
heapq.heappop(numbers) # 2
print(numbers)

[4, 8, 10, 100, 20, 50, 32, 200, 150]

In [20]:
heapq.heappop(numbers) # 4
print(numbers)

[8, 20, 10, 100, 150, 50, 32, 200]

Tuple

In [21]:
# simple tuple
t = ('a', 'b', 'c', 'd', 'e')

In [22]:
# Create an empty tuple with parentheses:
t0 = ()
type(t0)

tuple

In [24]:
# To create a tuple with a single element, you have to include a final comma:
t1 = 'a',
type(t1)

tuple

In [25]:
# Note that a single value in parentheses is not a tuple:
t2 = ('a')
type(t2)

str

In [26]:
# To create a singleton tuple it is necessary to have a trailing comma.
t2 = ('a',)
type(t2)

tuple

In [28]:
# way to create a tuple is the built-in function tuple
t = tuple('lupins')
print(t)
t = tuple(range(3))
print(t)

('l', 'u', 'p', 'i', 'n', 's')
(0, 1, 2)

Tuples are immutable

In [29]:
t = (1, 4, 9)
t[0] = 2

TypeError: 'tuple' object does not support item assignment

tuples don't have .append and .extend methods as list does. Using += is possible, but it changes the
binding of the variable, and not the tuple itself.

In [30]:
t = (1, 2)
q = t
t += (3, 4)
t

(1, 2, 3, 4)

In [31]:
q

(1, 2)

In [32]:
t = (1, 2, 3, [1, 2, 3])

In [34]:
t[3] += [4, 5]

TypeError: 'tuple' object does not support item assignment

Packing and Unpacking Tuples

In [35]:
a = 1, 2, 3 # a is the tuple (1, 2, 3)

In [36]:
a = (1, 2, 3) # a is the tuple (1, 2, 3)

In [37]:
# unpacking AKA multiple assignment
x, y, z = (1, 2, 3)
x

1

In [38]:
y

2

In [39]:
z

3

In Python 3 a target variable with a * prefix can be used as a catch-all variable (see Unpacking Iterables ):

In [40]:
first, *more, last = (1, 2, 3, 4, 5)
print(first)
print(more)
print(last)

1
[2, 3, 4]
5

Built-in Tuple Functions

In [42]:
tuple1 = ('a', 'b', 'c', 'd', 'e')
tuple2 = ('1', '2', '3')
tuple3 = ('a', 'b', 'c', 'd', 'e')
print(tuple1, tuple2)

('a', 'b', 'c', 'd', 'e') ('1', '2', '3')

In [43]:
# Tuple Length
len(tuple1)

5

In [44]:
# Max of a tuple
max(tuple1)

'e'

In [45]:
max(tuple2)

'3'

In [46]:
# Min of a tuple
min(tuple1)

'a'

In [47]:
min(tuple2)

'1'

In [48]:
# Convert a list into tuple
list = [1, 2, 3, 4, 5]
tuple(list)

(1, 2, 3, 4, 5)

In [49]:
# Tuple concatenation
tuple1 + tuple2

('a', 'b', 'c', 'd', 'e', '1', '2', '3')

Tuple are element-wise hashable and equatable

In [50]:
hash( (1, 2) ) # ok

-3550055125485641917

In [52]:
hash( ([], {'hello'}) ) # not ok, since lists and sets are not hashable

TypeError: unhashable type: 'list'

Indexing Tuples

In [53]:
x = (1, 2, 3)
x[0]

1

In [54]:
x[1]

2

In [55]:
x[3]

IndexError: tuple index out of range

In [56]:
x[-1]

3

In [57]:
x[-2]

2

In [58]:
x[-4]

IndexError: tuple index out of range

In [59]:
# Indexing a range of elements
print(x[:-1])

(1, 2)

In [60]:
print(x[-1:])

(3,)

In [61]:
print(x[1:3])

(2, 3)

Reversing Elements

In [63]:
# Reverse elements within a tuple
colors = "red", "green", "blue"
rev = colors[::-1]
rev

('blue', 'green', 'red')

In [64]:
colors = rev

In [65]:
colors

('blue', 'green', 'red')

In [66]:
rev = tuple(reversed(colors))

In [67]:
rev

('red', 'green', 'blue')

Basic Input and Output

In [68]:
# Using the print function
print("This string will be displayed in the output")

This string will be displayed in the output

Input from a File

with open('somefile.txt', 'r') as fileobj:
# write code here using fileobj

Read from stdin

In [69]:
import sys
for line in sys.stdin:
    print(line)

Using input() and raw_input()

In [71]:
# Python 3.x
foo = input("Put a message here that asks the user for input")

Put a message here that asks the user for input hello

Function to prompt user for a number

In [73]:
def input_number(msg, err_msg=None):
    while True:
        try:
            return float(raw_input(msg))
        except ValueError:
            if err_msg is not None:
                print(err_msg)
def input_number(msg, err_msg=None):
    while True:
        try:
            return float(input(msg))
        except ValueError:
            if err_msg is not None:
                print(err_msg)

In [76]:
user_number = input_number("input a number: ", "that's not a number!")

input a number:  hi

that's not a number!

input a number:  32

In [75]:
user_number = input_number("input a number: ")

input a number:  hello
input a number:  34

Printing a string without a newline at the end

In [77]:
# in Python 3.x
print("Hello, ", end="\n")
print("world!")

Hello,
world!

In [78]:
# You could pass in other strings
print("hello, ", end="")
print("world!")

hello, world!

In [79]:
print("Hello, ", end="<br>")
print("world!")

Hello, <br>world!

In [80]:
print("Hello, ", end="BREAK")
print("World!")

Hello, BREAKWorld!

If you want more control over the output, you can use sys.stdout.write:

In [81]:
import sys
sys.stdout.write("Hello, ")
sys.stdout.write("World!")

Hello, World!

6