Arrays

In [3]:
# Access individual elements through indexes
from array import *
my_array = array('i', [1, 2, 3, 4, 5])
print(my_array[1])

2

In [4]:
print(my_array[2])

3

In [5]:
print(my_array[3])

4

Basic Introduction to Arrays

In [7]:
#simple example of an array containing 5 integers
from array import *
my_array = array('i', [1, 2, 3, 4, 5])
for i in my_array:
    print(i)

1
2
3
4
5

In [9]:
# Append any value to the array using append() method
my_array = array('i', [1, 2, 3, 4, 5])
my_array.append(6)
print(my_array)

array('i', [1, 2, 3, 4, 5, 6])

In [10]:
# Insert value in an array using insert() method
my_array = array('i', [1, 2, 3, 4, 5])
my_array.insert(0, 0)
print(my_array)

array('i', [0, 1, 2, 3, 4, 5])

In [12]:
# Extend python array using extend() method
my_array = array('i', [1, 2, 3, 4, 5])
my_extnd_array = array('i', [7, 8, 9, 10])
my_array.extend(my_extnd_array)
print(my_array)

array('i', [1, 2, 3, 4, 5, 7, 8, 9, 10])

In [13]:
# Add items from list into array using fromlist() method
my_array = array('i', [1, 2, 3, 4, 5])
c = [11, 12, 13]
my_array.fromlist(c)
print(my_array)

array('i', [1, 2, 3, 4, 5, 11, 12, 13])

In [14]:
# Remove any array element using remove() method
my_array = array('i', [1, 2, 3, 4, 5])
my_array.remove(4)
print(my_array)

array('i', [1, 2, 3, 5])

In [15]:
# Remove last array element using pop() method
my_array = array('i', [1, 2, 3, 4, 5])
my_array.pop()
print(my_array)

array('i', [1, 2, 3, 4])

In [17]:
# Fetch any element through its index using index() method
my_array = array('i', [1, 2, 3, 4, 5])
print(my_array.index(5))

4

In [18]:
my_array = array('i', [1, 2, 3, 4, 5])
print(my_array.index(3))

2

In [19]:
# Reverse a python array using reverse() method
my_array = array('i', [1, 2, 3, 4, 5])
my_array.reverse()
print(my_array)

array('i', [5, 4, 3, 2, 1])

In [20]:
# Get array buffer information through buffer_info() method
my_array = array('i', [1, 2, 3, 4, 5])
my_array.buffer_info()

(1855543901008, 5)

In [22]:
# Check for number of occurrences of an element using count() method
my_array = array('i', [1, 2, 3, 3, 5])
my_array.count(3)

2

In [36]:
# Convert array to string using tostring() method
my_char_array = array('c', ['g', 'e', 'e', 'k'])
# array('c', 'geek')
print(my_char_array)

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [37]:
my_char_array = array('u', ['g', 'e', 'e', 'k']) # Python 3.x doesn't support c value
# array('u', 'geek')
print(my_char_array)

array('u', 'geek')

In [38]:
my_char_array = array('c', ['g', 'e', 'e', 'k'])
print(my_char_array.tostring())

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [41]:
my_char_array = array('u', ['g', 'e', 'e', 'k'])
print(my_char_array.tostring()) #Not possible in python 3.x

AttributeError: 'array.array' object has no attribute 'tostring'

In [43]:
# Convert array to a python list with same elements using tolist() method
my_array = array('i', [1, 2, 3, 4, 5])
c = my_array.tolist()
print(c)

[1, 2, 3, 4, 5]

In [47]:
# Append a string to char array using fromstring() method
my_char_array = array('u', ['g', 'e', 'e', 'k'])
my_char_array.fromstring("stuf")
print(my_char_array)
# Errors due to Python 3.x versions

AttributeError: 'array.array' object has no attribute 'fromstring'

Multidimensional arrays

In [48]:
# Lists in lists
lst = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
print(lst[0])

[1, 2, 3]

In [50]:
print(lst[1])

[4, 5, 6]

In [51]:
print(lst[2])

[7, 8, 9]

In [52]:
# also can access the different elements in each of those lists the same way
print(lst[0][0])

1

In [53]:
print(lst[0][1])

2

In [54]:
# To set values inside these lists the same way
lst[0] = [10, 11, 12]
print(lst)

[[10, 11, 12], [4, 5, 6], [7, 8, 9]]

In [55]:
lst[1][2] = 15
print(lst)

[[10, 11, 12], [4, 5, 15], [7, 8, 9]]

In [56]:
# Lists in lists in lists in..
[[[111, 112, 113], [121, 122, 123], [131, 132, 133]], [[211, 212, 213], [221, 222, 223], [231, 232, 233]], [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]