The first program will be a simple program to print "Hello, world!".

In [3]:
print("Hello, world!")

Hello, world!

Creating Variables and assigning values

In [4]:
#Integer
a = 2
print(a)

2

In [5]:
#Floating point
b = 2.12
print(b)

2.12

In [6]:
#String
c = 'A'
print(c)

A

In [7]:
#Boolean
d = True
print(d)

True

In [8]:
#Empty value or null data type
x = None
print(x)

None

In [9]:
0 = x
print(x)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3454579683.py, line 1)

Python Data types

In [10]:
a = 2
print(type(a))

<class 'int'>

In [11]:
b = 3.14
print(type(b))

<class 'float'>

In [12]:
c = 'A'
print(type(c))

<class 'str'>

In [13]:
d = True
print(type(d))

<class 'bool'>

In [14]:
x = None
print(type(x))

<class 'NoneType'>

Assigning multiple values to multiple variables

In [15]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [16]:
a, b = 1, 2, 3
print(a, b)

ValueError: too many values to unpack (expected 2)

If values and variables are not equal it tends to Error.

In [17]:
a, b, _ = 1, 2, 3
print(a, b)

1 2

Here underscore is considered as variable and in the output it is not called so only the called variables values are print.

In [18]:
a = b = c = 1
print(a, b, c)

1 1 1

If one of them is been assigned with different int object remaining will still be same.

In [19]:
a = b = c = 1
print(a, b, c)
b = 2
print(a, b, c)

1 1 1
1 2 1

This also stands for mutable types (like list, dict) and also for immutable types (int, string, tuples).

In [20]:
x = y = [7, 8, 9]
print(x)
print(y)
x = [2, 4, 6]
print(x)
print(y)

[7, 8, 9]
[7, 8, 9]
[2, 4, 6]
[7, 8, 9]

Changing single value in object for different name.

In [21]:
x = y = [7, 8, 9]
x[0] = 12
print(x)
print(y)

[12, 8, 9]
[12, 8, 9]

Nested lists are also valid in python, This means a list can contain multiple lists.

In [22]:
x = [1, 2, 3, [1, 2, 4, 5], 5]
print(x[2])
print(x[3][2])

3
4

Block Indentation: This contributes to python's readability. Whitespaces need to be given attention ( 4 spaces )

In [23]:
def my_function():
    a = 2
    return a
print(my_function())

2

In [24]:
def my_function():
a = 3
    return a
print(my_function())

IndentationError: expected an indented block after function definition on line 1 (663366808.py, line 2)

This blocks also writen in a single line statement

In [25]:
if a > b: print(a)
else: print(b)

2

Datatypes:

bool: A boolean value of either True or False. Logical operations like and, or, not can be performed on booleans.

In [26]:
issubclass(bool, int)

True

int: Integer number; Integers in Python are of arbitrary sizes.

In [27]:
a = 2
b = 100
c = 123445678
d = 37497897899874354

float: Floating point number.

In [28]:
a = 2.0
b = 100.e0
c = 12333345.e1

complex: Complex numbers

In [29]:
a = 2 + 1j
b = 100 + 10j

Strings
In python 3.x
str: a unicode string. The type of 'hello'
bytes: a byte string. The type of b'hello'

Sequences and Collections:

Strings(str, bytes, unicode) are sequences. String Data Type.

In [44]:
a_str = 'Hello world'
print(a_str)
print(a_str[0])
print(a_str[0:5])

Hello world
H
Hello

reversed: A reversed order of str with reversed function.

In [33]:
a = reversed('hello')
print(a)

<reversed object at 0x0000022FA84D5D50>

tuple: An ordered collection of n values of any type(n >= 0).

In [50]:
tuple = (123, 'hello')
tuple1 = ('world')
print(tuple)
print(tuple[0])
print(tuple + tuple1)
tuple[1] = 'update'

(123, 'hello')
123

TypeError: can only concatenate tuple (not "str") to tuple

In [34]:
a = (1, 2, 3)
b = ('a', 1, 'python', (1, 2))
b[2] = 'something else' #returns a typeError

TypeError: 'tuple' object does not support item assignment

list; An ordered collection of n values (n>=0)

Lists are almost similar to arrays in C. One difference is that all the items belonging to a list can be of different data type.

In [49]:
a = [1, 3, 4]
b = ['a', 1, 'python', (1, 2), [1, 2]]
b[2] = 'something else' #allowed
print(b)
list = [123, 'abcd', 10.2, 'd']
list1 = ['hello', 'world']
print(list)
print(list[0:2])
print(list1 * 2)
print(list + list1)

['a', 1, 'something else', (1, 2), [1, 2]]
[123, 'abcd', 10.2, 'd']
[123, 'abcd']
['hello', 'world', 'hello', 'world']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

set: An unordered collection of unique values. Items must be hashable.

They are mutable and new elements can be added once sets are defined

In [47]:
b = {1, 2, 'a', 2, 1, 'b', 'c'}
print(b) #duplicates will be removed
a = set('avashejlkrhld')
print(a) #unique letters in a
a.add('z')
print(a)

{1, 2, 'c', 'b', 'a'}
{'e', 'v', 'j', 'l', 'h', 'r', 'k', 'd', 's', 'a'}
{'e', 'v', 'j', 'l', 'z', 'h', 'r', 'k', 'd', 's', 'a'}

Frozen sets: They are immutable and new elements cannot added after its defined.

In [48]:
b = frozenset('asdfagsa')
print(b)
cities = frozenset(['Frannkfurt', 'Basel', 'Freiburg'])
print(cities)

frozenset({'f', 'g', 'd', 's', 'a'})
frozenset({'Freiburg', 'Frannkfurt', 'Basel'})

dict: An  unordered collection of unique key-value pairs; keys must be hashable.

In [37]:
a = {1: 'one',
     2: 'two'}
b = {'a': [1, 2, 3],
     'b': 'a string'}

In conditional statements it is possible to test the datatype with isinstance. However it is usually not recommended to rely on the type of the variable.

In [39]:
i = 7
if isinstance(i, int):
    i += 1
elif isinstance(i, str):
    i = int(i)
    i += 1
print(i)

8

Converting between datatypes:

In [40]:
a = '123'
b = int(a)
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [41]:
#You can also convert sequence or collection types
a = 'hello'
print(list(a))
print(set(a))
print(tuple(a))

['h', 'e', 'l', 'l', 'o']
{'h', 'e', 'l', 'o'}
('h', 'e', 'l', 'l', 'o')

To get input from the user, use the input function. Input function takes data as string type, which can be converted as requried afterwards.

In [42]:
name = input("What is your name?")
print(name)

What is your name?Nikhilesh
Nikhilesh

Importing modules

In [43]:
import math
math.sqrt(16)

4.0

Comments and Documentation

In [51]:
#This is a single line comment in Python.

In [52]:
print("Hello world") #This line prints "Hello world"

Hello world

In [53]:
"""
This type of comment spans multiple lines.
These are mostly used for documentation of functions, classes and modules.
"""

'\nThis type of comment spans multiple lines.\nThese are mostly used for documentation of functions, classes and modules.\n'