In [3]:
a = 2
a = 1
b = 2
c = 3
a, b, c = 1, 2, 3
#why indentation is used?
'''Indentation in other languages is used for readability in code where as in python it is a must to follow concept if not followed 
it will throw error in python it is used to indicate block of code.'''
#what are sequences and collections in python?
'''Ordered data types like lists, tuples and strings are considered as sequences as we can access them sequentially 
where unordered data types like dictionaries and sets are known as collections.'''

'Ordered data types like lists, tuples and strings are considered as sequences as we can access them sequentially \nwhere unordered data types like dictionaries and sets are known as collections.'

In [2]:
a = '123'
print(type(a))

<class 'str'>

In [3]:
b = int(a)
print(type(b))

<class 'int'>

In [4]:
#mutable object with example?
a = [ 1, 2, 3, 'a', 4]
b = (1, 2, 3, 'a', 5)
c = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [6]:
def name():
    a = int(input())
    b = int(input())
    c = a+b
    return c
name()

 2
 3

5

In [8]:
def com():
    a= 'PYTHON'
    b= 'JAVATHON'
    
    for i in a:
        for j in b:
            if i==j:
                print(i)
com()

T
H
O
N

In [10]:
a= 'PYTHON'
b= 'JAVATHON'
set1= set(a)
set2 = set(b)
c = set1 & set2
print(c)

{'H', 'N', 'T', 'O'}

In [15]:
def freq():
    str = input("Enter your string here: ")
    lis = str.split()
    d ={}
    
    for i in lis:
        if i not in d.keys():
            d[i] = 0
        d[i] = d[i]+1
    print(d)
freq()

Enter your string here:  HONEY BEES ARE JUST BEES NOT BEIBERS ALSO NOT HONEY

{'HONEY': 2, 'BEES': 2, 'ARE': 1, 'JUST': 1, 'NOT': 2, 'BEIBERS': 1, 'ALSO': 1}

In [ ]:
def freq():
    str = input("enter your string here: ")
    lis = str.split()
    d ={}
    for i in lis:
        if i not in d.keys():
            d[i]=0
        d[i]=d[i]+1
    print(d)
freq()

In [1]:
def sum():
    a = int(input())
    b = 0
    for i in range(1, a+1):
        b += i
    print(b)
         
sum()

 3

6